{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <title>{% block title %}Threads{% endblock %}</title>

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extra_css %}{% endblock %}
</head>

<body>

<div class="main-container">

<header class="site-header">

    <h1 class="logo">
        <a href="{% url 'index' %}">
            <i class="fa-brands fa-square-threads threads-icon"></i>
            Threads
        </a>
    </h1>

    <div class="auth-navigation">

        {% if user.is_authenticated %}

        <div class="user-controls">

           <span class="username-badge">
    {{ user.username }}
</span>

            <a href="{% url 'profile' %}" class="icon-btn">
                <i class="fa-regular fa-user"></i>
            </a>

            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="icon-btn" title="Вийти">
                    <i class="fa-solid fa-door-open"></i>
                </button>
            </form>

        </div>

        {% else %}

        <div class="auth-links">
            <a href="{% url 'login' %}">Вхід</a>
            <a href="{% url 'register' %}">Реєстрація</a>
        </div>

        {% endif %}

    </div>

</header>


<main>

{% block content %}
{% endblock %}

</main>


<footer class="site-footer">
    <p>Threads</p>
</footer>

</div>

</body>
</html>