{% extends 'base.html' %}
{% load static %}
{% block title %}Видалити профіль{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="profile-container delete-confirm">

    <h1>Видалення профілю</h1>
    <p>Ви впевнені, що хочете видалити свій профіль? Цю дію не можна скасувати.</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Так, видалити профіль</button>
    </form>

    <a href="{% url 'profile' %}">Скасувати</a>

</div>

{% endblock %}