{% extends 'base.html' %}
{% load static %}
{% block title %}Вхід{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="auth-container dark-glass">

    <h2>Вхід</h2>

    <form method="post" class="auth-form">
        {% csrf_token %}

        <div class="form-group">
            <label>Username</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label>Password</label>
            {{ form.password }}
        </div>

        <button type="submit" class="auth-btn">
            Увійти
        </button>
    </form>

    <p class="auth-switch">
        Ще немає акаунта?
        <a href="{% url 'register' %}">Зареєструватися</a>
    </p>

</div>

{% endblock %}