{% extends 'base.html' %}

{% block title %}Пост{% endblock %}

{% block content %}

<article class="post-card">

<div class="post-header">

<div class="author-info">

    <div class="avatar-placeholder">
    {% if post.author.avatar %}
    <a href="{% url 'user_profile' post.author.username %}">
        <img src="{{ post.author.avatar.url }}">
    </a>
    {% endif %}
    </div>

    <a href="{% url 'user_profile' post.author.username %}" style="text-decoration: none; color: inherit;">
        <span class="author-name">{{ post.author.username }}</span>
    </a>

</div>

<span class="post-date">{{ post.created_at|timesince }} назад</span>

</div>


<div class="post-content">
{{ post.text }}
</div>

{% if post.image %}
<div class="post-image-container">
<img src="{{ post.image.url }}" class="post-image">
</div>
{% endif %}

</article>


<h2 style="margin-top:40px;">Коментарі</h2>

{% for comment in comments %}
<div class="post-card" style="display: flex; gap: 15px; align-items: flex-start;">

    <div class="comment-avatar">
        {% if comment.author.avatar %}
            <img src="{{ comment.author.avatar.url }}" style="width: 40px; height: 40px; border-radius: 50%; object-fit: cover;">
        {% else %}
            <div style="width: 40px; height: 40px; background: #ddd; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 10px; color: #777;">
                No фото
            </div>
        {% endif %}
    </div>

    <div class="comment-body">
        <a href="{% url 'user_profile' post.author.username %}" style="text-decoration: none; color: inherit;">
            <span class="author-name">{{ post.author.username }}</span>
        </a>
        <p style="margin: 5px 0;">{{ comment.text }}</p>
        <small style="color: #999;">{{ comment.created_at|timesince }} назад</small>
    </div>

</div>
{% empty %}
    <p>Коментарів ще немає</p>
{% endfor %}


{% if user.is_authenticated %}

<h3 style="margin-top:30px;">Додати коментар</h3>

<form action="{% url 'add_comment' post.id %}" method="post">

{% csrf_token %}

<textarea name="text" required style="width:100%;height:80px;"></textarea>

<button type="submit" class="post-btn" style="margin-top:10px;">
Додати коментар
</button>

</form>

{% else %}

<p>
Щоб написати коментар
<a href="{% url 'login' %}">увійдіть</a>
</p>

{% endif %}

{% endblock %}