{% extends 'base.html' %}
{% load static %}
{% block title %}Реєстрація{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}

<div class="auth-container dark-glass">

    <h2>Створити акаунт</h2>

    <form method="post" enctype="multipart/form-data" class="auth-form">
        {% csrf_token %}

        <div class="form-group">
            <label>Username</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label>Email</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label>Avatar</label>
            {{ form.avatar }}
        </div>

        <div class="form-group">
            <label>Password</label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label>Repeat password</label>
            {{ form.password2 }}
        </div>

        <button type="submit" class="auth-btn">
            Зареєструватися
        </button>

    </form>

    <p class="auth-switch">
        Вже є акаунт?
        <a href="{% url 'login' %}">Увійти</a>
    </p>

</div>

{% endblock %}